* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: grid;
    grid-template-rows: 1fr auto;
    grid-template-columns: 1fr;
    gap: 2px;
    min-height: 100vh;
    width: 100%;
    background: #707070;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 40px;
    background: #ffffff;
    padding: 40px;
    overflow-y: auto;
}

#stage {
    margin: 1em auto;
    -webkit-perspective: 1200px;
    -moz-perspective: 1200px;
    -ms-perspective: 1200px;
    perspective: 1200px;
    background: rgba(0,0,0,0.5);
    width: 300px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#spinner {
    -webkit-animation-name: spinner;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-duration: 6s;
    animation-name: spinner;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-duration: 6s;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
    background: rgba(0,0,0,0.5);
    text-align: center;
    color: #fff;
    padding: 20px;
    font-size: 24px;
    font-weight: bold;
}

#spinner:hover {
    -webkit-animation-play-state: paused;
    animation-play-state: paused;
}

@-webkit-keyframes spinner {
    from {
        -webkit-transform: rotateY(0deg);
    }
    to {
        -webkit-transform: rotateY(360deg);
    }
}

@keyframes spinner {
    to {
        -moz-transform: rotateY(360deg);
        -ms-transform: rotateY(360deg);
        transform: rotateY(360deg);
    }
    from {
        -moz-transform: rotateY(0deg);
        -ms-transform: rotateY(0deg);
        transform: rotateY(0deg);
    }
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    padding: 15px;
    text-align: center;
}