* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: grid;
    grid-template-rows: 1fr auto;
    grid-template-columns: 1fr;
    gap: 2px;
    min-height: 100vh;
    width: 100%;
    background: #707070;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 40px;
    background: #ffffff;
    padding: 40px;
    overflow-y: auto;
}

#stage {
    margin: 1em auto;
    perspective: 1200px;
    width: 400px;
    height: 300px;
    position: relative;
}

#spinner {
    animation-name: spinner;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-duration: 10s;
    transform-style: preserve-3d;
    position: relative;
    width: 100%;
    height: 100%;
    transform-origin: center;
}

#spinner:hover {
    animation-play-state: paused;
}

#spinner img {
    position: absolute;
    border: 1px solid #ccc;
    background: rgba(255,255,255,0.8);
    box-shadow: inset 0 0 20px rgba(0,0,0,0.2);
    width: 200px;
    height: 160px;
    object-fit: cover;
    top: 50%;
    left: 50%;
    margin-left: -100px;
    margin-top: -80px;
}

#spinner img:nth-child(1) {
    transform: rotateY(0deg) translateZ(200px);
}

#spinner img:nth-child(2) {
    transform: rotateY(72deg) translateZ(200px);
}

#spinner img:nth-child(3) {
    transform: rotateY(144deg) translateZ(200px);
}

#spinner img:nth-child(4) {
    transform: rotateY(216deg) translateZ(200px);
}

#spinner img:nth-child(5) {
    transform: rotateY(288deg) translateZ(200px);
}

@keyframes spinner {
    from {
        transform: rotateY(0deg);
    }
    to {
        transform: rotateY(360deg);
    }
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    padding: 15px;
    text-align: center;
}