* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body {
    display: grid;
    grid-template-rows: 1fr auto;
    grid-template-columns: 1fr;
    gap: 2px;
    min-height: 100vh;
    width: 100%;
    background: #707070;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 40px;
    background: #ffffff;
    padding: 40px;
    overflow-y: auto;
}

.button-row {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.button {
    animation: bouncing 0.5s cubic-bezier(.1,.25,.1,1) 0s infinite alternate both;
    background: lightslategrey;
    border-radius: 2px;
    display: inline-block;
    color: white;
    cursor: pointer;
    font-size: 0.75rem;
    font-weight: 300;
    letter-spacing: 0.2em;
    padding: 1em 2em 1.1em;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    vertical-align: top;
    margin-top: 50px;
}

@keyframes bouncing{
    0% { bottom: 0; box-shadow: 0 0 5px rgba(0,0,0,0.5);}
    100% { bottom: 50px; box-shadow: 0 50px 50px rgba(0,0,0,0.1);}
}

.button1 {
    background: #090cba;
    animation: color-change 1s infinite alternate;
}

@keyframes color-change {
    0% { background-color: #e0dd0a; }
    100% { background-color: #11c0f5; }
}

.button2 {
    background: #e60a0a;
    animation: rotate 1s infinite linear;
}

@keyframes rotate {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.button3 {
    background: #f005d0;
    animation: pulse 3.0s infinite alternate;
}

@keyframes pulse {
    0% { transform: scale(1); }
    100% { transform: scale(2.0); }
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    padding: 15px;
    text-align: center;
}